#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Enter_boot {
            bindings = <&bootloader>;
            key-positions = <21 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB     &kp Q  &kp W     &kp F    &kp P  &kp B            &kp MINUS                                   &kp EQUAL  &kp J            &kp L  &kp U      &kp Y     &kp SEMICOLON  &kp BSPC
&kp ESC     &kp A  &kp R     &kp S    &kp T  &kp G            &kp PRINTSCREEN                             &none      &kp M            &kp N  &kp E      &kp I     &kp O          &kp RETURN
&kp LSHIFT  &kp Z  &kp X     &kp C    &kp D  &kp V                                                                   &kp K            &kp H  &kp COMMA  &kp DOT   &kp FSLH       &kp RSHIFT
                   &kp LGUI  &kp DEL                          &none            &none       &none          &none                              &kp CAPS   &kp RGUI
                                             &mt LSHFT SPACE  &kp ENTER        &kp LALT    &kp BACKSPACE  &kp RCTRL  &mt RSHFT SPACE
            >;
        };
    };
};
